header {
	background-color: #1e1e1e; /* Тёмный фон хедера */
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

	nav ul li {
		margin: 0 20px;
	}

		nav ul li a {
			color: #e0e0e0; /* Светлый текст */
			text-decoration: none;
			font-size: 16px;
		}

			nav ul li a:hover {
				color: #bb86fc; /* Цвет при наведении */
			}
