/* Общие переменные */
:root {
	--background-dark: #121212;
	--background-light: #1e1e1e;
	--text-light: #e0e0e0;
	--text-gray: #888;
	--accent-color: #bb86fc;
	--primary-blue: #81baf6;
	--border-gray: #3a3a3a;
	--placeholder-gray: #a6a6a6;
	--hover-accent: #656b71;
}

/* Светлая тема (сине-белые тона) */
body.light-theme {
	--background-dark: #d3d8d;
	--background-light: #005bff;
	--text-light: #72b3f7;
	--text-gray: #4a4a4a;
	--accent-color: #89c2d9;
	--primary-blue: #309bdb;
	--border-gray: #35393e;
	--placeholder-gray: #3e434b;
	--hover-accent: #4699c;
}

/* Общий стиль для страницы */
body {
	background-color: var(--background-dark);
	color: var(--text-light);
	font-family: Verdana, sans-serif;
	margin: 50px;
	margin-left: 120px;
}

/* Стили для контейнеров */
.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
	gap: 15px;
	padding: 20px;
	margin-top: 75px;
}

.box {
	background-color: var(--background-light);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	padding: 15px;
	color: #fff;
	cursor: pointer;
	flex: 1 1 100%;
	max-width: 100%;
	position: relative;
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
}

	.box:hover {
		transform: translateY(-5px);
		transition: transform 0.2s;
	}

header {
	background-color: var(--background-light);
	padding: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	position: fixed;
	margin-left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

/* Стили для таблиц */
.table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
	table-layout: auto;
}

	.table th, .table td {
		border: 1px solid var(--border-gray);
		padding: 10px;
		text-align: center;
	}

	.table th {
		background-color: var(--background-light);
		color: #fff;
	}

	.table tr:hover td {
		background-color: var(--background-light);
		color: var(--text-light);
		transition: background-color 0.3s;
	}

/* Кнопки */
.button {
	background-color: var(--primary-blue);
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

	.button:hover {
		background-color: var(--hover-accent);
	}

	.button:disabled {
		background-color: #666;
		cursor: not-allowed;
	}

/* Кнопка переключения темы */
.theme-toggle-button {
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	transition: transform 0.2s, color 0.3s;
}

	.theme-toggle-button:hover {
		transform: scale(1.1);
		color: #e7f3ff;
	}


/* Иконка избранного */
.favourite-star {
	cursor: pointer;
	font-size: 25px;
	color: grey;
	transition: color 0.3s, transform 0.3s;
	position: absolute;
	top: 10px;
	right: 10px;
}

	.favourite-star.active {
		color: gold;
		animation: spin 0.5s ease;
	}

/* Всплывающее сообщение об ошибке */
.error-message {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #f44336;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 0;
	animation: showError 2s forwards;
}

/* Анимации */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	animation: fadeIn 0.5s ease forwards;
}

@keyframes showError {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* App.css */
.app {
	display: flex;
}

/* Стили для основного контента */
.content {
	margin-left: 0; /* Контент прижат к левому краю */
	transition: margin-left 0.3s ease; /* Плавное смещение */
	padding: 20px; /* Отступы для контента */
}

	/* Стили для смещенного контента */
	.content.shifted {
		margin-left: 250px; /* Отступ, равный ширине меню */
	}

.icons {
	font-size: 40px;
	color: #7ba9fd;
}


/* Стили для бокового меню */
.sidebar {
	width: 250px;
	height: 75vh;
	background-color: var(--background-light); 
	color: var(--text-light); 
	padding: 20px;
	position: fixed;
	top: 60px;
	left: -240px; /* Скрываем меню за пределами экрана */
	transition: left 0.3s ease,width 0.3s ease; /* Плавное появление */
	z-index: 999;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 12px;
}

	/* Класс для открытого меню */
	.sidebar.open {
		left: 0;
	}

	.sidebar.closed {
		width: 60px; /* Узкое меню в закрытом состоянии */
	}

	/* Стили для списка и пунктов меню */
	.sidebar ul {
		list-style: none;
		padding: 0;
	}

		.sidebar ul li {
			margin: 15px 0;
		}

			.sidebar ul li a {
				color: #ffffff;
				text-decoration: none;
				font-size: 18px;
				display: flex;
				align-items: center;
			}

				.sidebar ul li a span {
					margin-left: 10px; /* Отступ между иконкой и текстом */
					transition: opacity 0.3s ease; /* Плавное исчезновение текста */
				}

	.sidebar.closed ul li a span {
		opacity: 0; /* Скрываем текст в закрытом состоянии */
	}

/* Стили для основного контента */
.content {
	margin-left: 0; /* Начальное состояние без отступа */
	transition: margin-left 0.3s ease; /* Плавное смещение */
	padding: 20px; /* Отступы для контента */
}

	/* Стили для смещенного контента */
	.content.shifted {
		margin-left: 250px; /* Отступ, равный ширине меню */
	}

.sidebar ul li.active {
	color: var(--text-light);
	border-color: var(--text-light);
	border-right: 4px solid #888;
}
