/* Общие переменные */
:root
{
	/* Темная тема */
	--primary-background: #121212;
	--secondary-background: #1e1e1e;
	--text-light: white;
	--text-gray: gray;
	--accent-color: mediumorchid;
	--border-color: dimgray;
	--placeholder-color: darkgray;
	--hover-accent: lightslategray;
}

/* Светлая тема */
body.light-theme
{
	--primary-background: white;
	--secondary-background: dodgerblue;
	--text-light: black;
	--text-gray: darkgray;
	--accent-color: lightsteelblue;
	--border-color: gray;
	--placeholder-color: slategray;
	--hover-accent: lightskyblue;
}

/* Базовые стили */
body
{
	background-color: var(--primary-background);
	color: var(--text-light);
	font-family: Verdana, sans-serif;
	margin: 50px;
	margin-left: 120px;
}

/* Основные контейнеры */
.container
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
	gap: 15px;
	padding: 20px;
	margin-top: 75px;
}

.box
{
	background-color: var(--secondary-background);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	padding: 15px;
	color: var(--text-light);
	cursor: pointer;
	flex: 1 1 100%;
	max-width: 100%;
	position: relative;
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
}

	.box:hover
	{
		transform: translateY(-5px);
		transition: transform 0.2s;
	}

/* Хедер */
header
{
	background-color: var(--secondary-background);
	padding: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

/* Стили для таблиц */
.table
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
	table-layout: auto;
}

	.table th,
	.table td
	{
		border: 1px solid var(--border-color);
		padding: 10px;
		text-align: center;
	}

	.table th
	{
		background-color: var(--secondary-background);
		color: var(--text-light);
	}

	.table tr:hover td
	{
		background-color: var(--hover-accent);
		color: var(--text-light);
		transition: background-color 0.3s;
	}

/* Кнопки */
.button
{
	background-color: var(--secondary-background);
	color: var(--text-light);
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	margin-right: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

	.button:hover
	{
		background-color: var(--hover-accent);
	}

	.button:disabled
	{
		cursor: not-allowed;
	}

/* Иконка избранного */
.favourite-star
{
	cursor: pointer;
	font-size: 25px;
	color: var(--text-gray);
	transition: color 0.3s, transform 0.3s;
	position: absolute;
	top: 10px;
	right: 10px;
}

	.favourite-star.active
	{
		color: gold;
		animation: spin 0.5s ease;
	}

/* Всплывающее сообщение об ошибке */
.error-message
{
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #f44336;
	color: var(--text-light);
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 0;
	animation: showError 2s forwards;
}

/* Анимации */
@keyframes fadeIn
{
	from
	{
		opacity: 0;
		transform: translateY(20px);
	}

	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in
{
	animation: fadeIn 0.5s ease forwards;
}

@keyframes showError
{
	0%
	{
		opacity: 0;
		transform: translateY(20px);
	}

	100%
	{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes spin
{
	from
	{
		transform: rotate(0deg);
	}

	to
	{
		transform: rotate(360deg);
	}
}

/* Стили для приложения */
.app
{
	display: flex;
}

/* Контент */
.content
{
	margin-left: 0;
	transition: margin-left 0.3s ease;
	padding: 20px;
}

	.content.shifted
	{
		margin-left: 250px;
	}

/* Боковое меню */
.sidebar
{
	width: 250px;
	height: 75vh;
	background-color: var(--secondary-background);
	color: var(--text-light);
	padding: 20px;
	position: fixed;
	top: 60px;
	left: -240px;
	transition: left 0.3s ease, width 0.3s ease;
	z-index: 999;
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
}

	.sidebar.open
	{
		left: 0;
	}

	.sidebar.closed
	{
		width: 60px;
	}

	.sidebar ul
	{
		list-style: none;
		padding: 0;
	}

		.sidebar ul li
		{
			display: flex;
			align-items: center;
			margin: 5px 0;
		}

			.sidebar ul li a,
			.sidebar ul li button
			{
				display: flex;
				align-items: center;
				gap: 10px;
				color: var(--text-light);
				text-decoration: none;
				font-size: 18px;
				background: none;
				border: none;
				cursor: pointer;
				padding: 5px;
				width: 100%;
				text-align: left;
			}

				.sidebar ul li a img,
				.sidebar ul li button img
				{
					width: 24px;
					height: 24px;
				}

			.sidebar ul li.active
			{
				color: var(--text-light);
				border-right: 4px solid var(--text-gray);
			}

/* Иконка меню */
.menu-icon
{
	transition: filter 0.3s ease-in-out;
}

.light-theme .menu-icon
{
	filter: invert(1);
}

.dark-theme .menu-icon
{
	filter: invert(0);
}
