# Temporary and swap files
*.swp
*.*~
*.pyc
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
dist/
dist-ssr/
*.local

# Node.js dependencies
node_modules/

# Project-specific files
project.lock.json
nupkg/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio Code
.vscode/
!.vscode/extensions.json

# JetBrains IDEs (Rider, IntelliJ, etc.)
.idea/
.fleet/

# Microsoft tools (Code Rush, etc.)
.cr/

# SmartHomeGUI (if project-specific)
*.ntvs*
*.njsproj
*.sln
*.sw?
