body {
	background-color: #121212; /* Тёмный фон */
	color: #e0e0e0; /* Светлый текст */
	font-family: Verdana, sans-serif;
	margin: 0; /* Убираем отступы по умолчанию */
}
/* Общий контейнер формы */
.registration-form {
	background-color: #1e1e1e;
	max-width: 500px;
	margin: 0 auto;
	padding: 30px 60px 20px 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	color: #ffffff;
}


	/* Заголовок */
	.registration-form h2 {
		text-align: center;
		margin-bottom: 20px;
		color: #ffffff;
	}

	/* Контейнер для каждого элемента */
	.registration-form div {
		margin-bottom: 10px;
	}

	/* Метки для полей */
	.registration-form label {
		display: block;
		margin-bottom: 5px;
		font-size: 1rem;
		color: #e0e0e0;
	}

	/* Поля ввода */
	.registration-form input[type="text"],
	.registration-form input[type="email"],
	.registration-form input[type="password"] {
		width: 100%;
		padding: 20px 20px 20px 20px;
		border: none;
		border-radius: 15px;
		background-color: #121212;
		color: #ffffff;
		font-size: 1rem;
	}

		.registration-form input[type="text"]:focus,
		.registration-form input[type="email"]:focus,
		.registration-form input[type="password"]:focus {
			outline: 2px solid #e0e0e0;
		}

	/* Кнопка отправки */
	.registration-form button {
		width: 50%;
		margin: 0 auto;
		padding: 10px 10px 10px 10px;
		font-size: 1rem;
		border: none;
		border-radius: 10px;
		background-color: #121212;
		color: #ffffff;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

		.registration-form button:hover {
			border: 2px solid #e0e0e0;
		}

	/* Сообщение об ошибке */
	.registration-form p {
		color: #ff6a00;
		font-size: 0.9rem;
		text-align: center;
		margin-top: -10px;
	}
