@page
@model SmartHomeWeb.Pages.DashboardModel
@{
  ViewData["Title"] = "Dashboard";
}
<html>
<body>
  <div class="row">
    @foreach (var measure in Model.MeasuresUI)
    {
      <a href="/" class="btn col-md-2 col-sm-2 col-xs-2" style="background: gray; text-align: center; padding: 1vw 0 1vw 0; margin: 5px">
       @Html.Raw(@measure)
      </a>
    }
  </div>
</body>
</html>