@page
@model IndexModel
@{
	ViewData ["Title"] = "Home page";
}

    <div class="text-center">
        <div class="p-3 alert-info text-primary border border-primary rounded-3">
            <h1 class="display-4">Favorite Sensors</h1>
        </div>
    </div>