html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.svg-menu {
	fill: white;
	width: 16px;
	height: 16px;
}

.btn-favourite {
	position: absolute;
	top: 2px;
	right: 15px;
	box-sizing: border-box;
	padding: 0;
	width: 27px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
}

.button {
	color: #000000;
	box-shadow: 2px 1px 5px #999999;
	text-decoration: none;
	background: none;
	border: 2px solid #082567;
	text-align: center;
	padding: 17px 35px;
	min-width: 100px;
	width: auto;
	max-width: 100%;
}

